/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use "./_mixin.scss" as mixins;
@use "./_colors.scss";
@use "_topography.scss" as fs;
@use "_space" as space;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //   $ptb: clamp(1rem, calc(0.52rem + 2.04vw), 1.5rem);
  $plr: clamp(1rem, calc(-0.43rem + 6.11vw), 2.5rem);
  padding-inline: $plr;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    $plr: clamp(2.5rem, calc(-6.43rem + 18.6vw), 10.31rem);
    padding-inline: $plr;
    padding-block-start: space.$hero-offset-top;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5625rem;
    width: 100%;
    @media only screen and (min-width: 768px) {
      flex-basis: 398px;
      flex-shrink: 0;
      flex-grow: 1;
      max-width: 457px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.25;
    @media only screen and (min-width: 768px) {
      font-size: fs.$hero-title;
      line-height: 1.27;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    @media only screen and (min-width: 768px) {
      font-size: fs.$hero-subtext;
      line-height: 1.56;
    }
  }

  &__img-wrapper {
    position: relative;
    top: -27px;
    margin-inline: space.$hero-img-outer-offset-small;
    max-width: 319px;
    padding: 6.5% 10%;
    border: 1px solid black;
    @media only screen and (min-width: 768px) {
      flex-basis: 217px;
      flex-shrink: 1;
      flex-grow: 1;
      min-width: 217px;
      margin-inline: 0 space.$hero-img-outer-offset-large;
      padding: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__img-bg {
    position: absolute;
    $width: 100%;
    width: $width;
    height: calc(2 * $width);
    z-index: 100;
    bottom: 0;
    left: 0;
    border-radius: 167px;
    background: colors.$blue-pink-gradient;
    transform: rotate(45deg);
    transform-origin: 50% 86%;
    z-index: -1;
  }
}
