$light: #fff;
$light-blue: #666ca3;
$dark-blue: #13183f;
$light-grey: #83869a;
$medium-pink: #f74780;
$light-pink: #ffa7c3;
$magenta-pink: #f02aa6;
$red-orange: #ff6f48;
$medium-blue: #4851ff;
$orange-pink-gradient: linear-gradient(180deg, $red-orange 0.04%, $magenta-pink 100%);
$blue-pink-gradient: linear-gradient(180deg, $medium-blue 0%, $magenta-pink 99.92%);
$orange-pink-gradien-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, $red-orange 0%, $magenta-pink 100%);
$blue-pink-gradient-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, $medium-blue -54.32%, $magenta-pink 100%);
