@use "./_mixin.scss" as mixins;
@use "./_colors.scss";
@use "_topography.scss" as fs;

.footer {
  $ptb: 2.25rem;
  $plr: clamp(1rem, calc(-0.43rem + 6.11vw), 2.5rem);
  padding: $ptb $plr;

  background-color: colors.$dark-blue;

  @media only screen and (min-width: 768px) {
    $ptb: clamp(2.25rem, calc(2.54rem + -0.60vw), 2.00rem);
    $plr: clamp(2.5rem, calc(-6.43rem + 18.6vw), 10.31rem);
    padding-block: $ptb;
    padding-inline: $plr;
  }

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    font-weight: 800;
    font-size: fs.$logo;
    line-height: 1.25;
    color: colors.$light;
  }

  &__btn {
    @include mixins.btn(28px, colors.$blue-pink-gradient);
    @include mixins.btn-hover(colors.$blue-pink-gradient-hover);

    @media only screen and (min-width: 768px) {
      @include mixins.btn(
        28px,
        colors.$blue-pink-gradient,
        0.78em,
        0.78em,
        1.78em,
        1.78em
      );
    }
  }
}
