/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use "./_mixin.scss" as mixins;
@use "./_colors.scss";
@use "_topography.scss" as fs;
@use "_space" as space;

.main {
  width: 100%;
  max-width: 1440px;
  padding-inline: space.$main-padding-lr-small;

  @media only screen and (min-width: 768px) {
    padding-inline: space.$main-padding-l-large space.$main-padding-r-large;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 33px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5625rem;
    width: 100%;
    @media only screen and (min-width: 768px) {
      flex-basis: 457px;
      min-width: 398px;
      padding-block-start: space.$hero-body-padding-t-large;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.25;
    @media only screen and (min-width: 768px) {
      font-size: fs.$hero-title;
      line-height: 1.27;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625;
    color: colors.$grey;
    word-spacing: 0.1em;
    @media only screen and (min-width: 768px) {
      font-size: fs.$hero-subtext;
    }
  }

  &__btn {
    @include mixins.btn(28px, colors.$orange-pink-gradient);
    @include mixins.btn-hover(colors.$orange-pink-gradien-hover);

    @media only screen and (min-width: 768px) {
      @include mixins.btn(
        28px,
        colors.$orange-pink-gradient,
        0.78em,
        0.78em,
        1.78em,
        1.78em
      );
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    padding: 6.5% 10%;
    border: 1px solid black;

    @media only screen and (min-width: 768px) {
      flex-basis: 217px;
      flex-shrink: 0;
      flex-grow: 1;
      max-width: 317px;
      padding: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__img-bg {
    display: none;
    @media only screen and (min-width: 768px) {
      display: block;
      position: absolute;
      width: 100%;
      height: 200%;
      z-index: 100;
      bottom: 0;
      left: 0;
      border-radius: 158px;
      background: colors.$blue-pink-gradient;
      transform: rotate(45deg);
      transform-origin: 50% 86%;
      z-index: -1;
    }
  }
}
