$header-padding-t-small: clamp(1rem, calc(0.52rem + 2.04vw), 1.5rem); // 16px - 24px
$header-margin-b-small: clamp(2.38rem, calc(1.30rem + 4.60vw), 5.44rem); // 38px - 87x
$header-padding-lr-small: clamp(1rem, calc(-0.43rem + 6.11vw), 2.5rem); // 16px - 40px
$header-padding-lr-large: clamp(2.5rem, calc(-6.43rem + 18.6vw), 10.31rem); // 40px - 164px

$main-padding-lr-small: clamp(1rem, calc(-0.43rem + 6.11vw), 2.5rem); // 16px - 40px
$main-padding-l-large: clamp(2.5rem, calc(-6.43rem + 18.6vw), 10.31rem); // 40px - 164px
$main-padding-r-large: clamp(5.06rem, calc(-4.79rem + 20.54vw), 13.69rem); // 81px - 220px

$hero-img-padding-r-large: clamp(3.19rem, calc(-1.60rem + 9.97vw), 7.38rem); // 51px - 118px
$hero-img-padding-l-large: clamp(2.81rem, calc(-2.54rem + 11.16vw), 7.50rem); // 45px - 120px
$hero-body-padding-t-large: clamp(2.94rem, calc(0.22rem + 5.65vw), 5.31rem); // 47px - 85px
$hero-title-margin-b-large: clamp(1.56rem, calc(1.28rem + 0.60vw), 1.81rem); // 25px - 29px
$hero-subtext-margin-b-large: clamp(1.50rem, calc(0.36rem + 2.38vw), 2.50rem); // 24px - 40px

$hero-details-tb-padding: clamp(1.00rem, calc(0.71rem + 0.60vw), 1.25rem); // 16px - 20px
$hero-details-l-padding: clamp(1.25rem, calc(0.96rem + 0.60vw), 1.50rem); // 20px - 24px
$hero-details-hours-r-padding: clamp(2.81rem, calc(0.88rem + 4.02vw), 4.50rem); // 45px - 72px
$hero-details-members-r-padding:  clamp(1.25rem, calc(-1.39rem + 5.51vw), 3.56rem); // 20px - 57px
$hero-details-hours-h-offset: clamp(2.81rem, calc(-2.54rem + 11.16vw), 7.50rem); // 45px - 120px
$hero-details-members-h-offset: clamp(3.19rem, calc(-1.60rem + 9.97vw), 7.38rem); // 51px - 118px

$footer-padding-lr-small: clamp(1rem, calc(-0.43rem + 6.11vw), 2.5rem); // 16px - 40px
$footer-padding-lr-large: clamp(2.5rem, calc(-6.43rem + 18.6vw), 10.31rem); // 40px - 164px
$footer-padding-tb-large: clamp(2.25rem, calc(2.54rem + -0.60vw), 2.00rem); // 36px - 32px