$hero-img-outer-offset-small: clamp(0.50rem, calc(-0.10rem + 2.54vw), 1.13rem); // 8px - 18px
$hero-img-outer-offset-large: clamp(2.63rem, calc(1.77rem + 1.79vw), 3.38rem); // 42px - 54px
$hero-img-inner-offset-small-lr: clamp(2.31rem, calc(0.05rem + 9.67vw), 4.69rem); // 37px - 75px
$hero-img-inner-offset-small-tb: clamp(1.50rem, calc(-0.05rem + 6.62vw), 3.13rem); // 24px - 50px