$logo: clamp(1.75rem, calc(1.18rem + 1.19vw), 2.25rem); // 28px - 36px
$btn: clamp(1.00rem, calc(0.86rem + 0.30vw), 1.13rem); // 16px - 18px
$hero-title: clamp(2.50rem, calc(1.36rem + 2.38vw), 3.50rem); // 40px - 56px
$hero-subtext: clamp(1.00rem, calc(0.86rem + 0.30vw), 1.13rem); // 16px - 18px
$hero-details-title: clamp(0.88rem, calc(0.73rem + 0.30vw), 1.00rem); // 14px - 16px
$hero-details-text: clamp(2.00rem, calc(1.43rem + 1.19vw), 2.50rem); // 32px - 40px
