$logo: clamp(1.75rem, calc(1.18rem + 1.19vw), 2.25rem); // 28px - 36px
$btn: clamp(1.00rem, calc(0.86rem + 0.30vw), 1.13rem); // 16px - 18px
$hero-title: clamp(2.50rem, calc(1.36rem + 2.38vw), 3.50rem); // 40px - 56px
$hero-subtext: clamp(1.13rem, calc(0.86rem + 0.30vw), 1.25rem); // 18px - 20px
